.generalBodyContent {
    margin-top: 80px;
}

.generalBodyHeadText {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.generalBodyHeadTextH1 {
    font-size: 20px;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    margin-right: 8px;
    color: #333;
}

.generalBodyHeadTextP {
    font-size: 20px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    color: #686b74;
}

.generalBodySortBy {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;

    font-size: 14px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    color: #686b74;

    margin-bottom: 15px;
}

.generalBodySortByP1 {
    margin-right: 10px;
}

.generalBodySortByCategories {
    margin-left: 15px;
    font-weight: 400;
    color: #0069ab;
    text-decoration: underline;
}

.generalBodySortByCategories:hover {
    cursor: pointer;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* ------------------------------------ */

.generalBodyFiltersAndProducts {
    display: flex;
    flex-direction: row;
}

.generalBodyFilters {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    padding: 16px;
    width: 20%;

    background: #fff;
    border: 1px solid #e1e4e5;
}

.catalogFilterSearch {
    font-size: 12px;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
    padding: 8px 12px;
    border: 1px solid #d8dbdd;
    border-radius: 6px;
    width: 100%;
    transition: .25s;
}

.catalogFilterSearch:focus {
    border-color: #0069ab;
}

.generalBodyCatalogFilter {
    margin-top: 24px;
}

.catalogFilterTitle {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.catalogFilterTitle:hover {
    cursor: pointer;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.catalogFilterTitleText {
    font-size: 14px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    color: black;
    flex-grow: 1;
}

.catalogFilterTitleExpandBtn {
    width: 12px;
    height: 12px;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    fill: #b3b2b2;
    transition: 0.5s;
}

.generalBodyProducts {
    display: grid;
    margin-left: 32px;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}