.cityModal {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, .3);
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    transition: .40s;
}

.cityModal.active {
    opacity: 1;
    pointer-events: all;
    z-index: 1;
}

.cityModalContent {
    position: relative;
    padding: 32px;
    width: 40%;
    margin: auto;
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
    height: 400px;
    border: solid 1px #d6d6d6;
}

.cityModalCloseBtn {
    display: block;
    position: absolute;
    width: 25px;
    height: 25px;
    top: 10px;
    right: 10px;
    cursor: pointer;
    background: url(../../assets/CloseModalBtn.svg) no-repeat center / 25px;
}

.cityModalContentText {
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: black;
    margin-bottom: 24px;
}

.cityModalSearchLine {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    width: 103%;
    margin-bottom: 32px;
}

.cityModalInput {
    font-size: 14px;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;

    box-sizing: border-box;
    border: 1px solid #d8dbdd;
    border-radius: 4px;
    width: 100%;
    padding: 12px 35px 12px 12px;
    background: #ffffff;
}

.cityModalSearchLineBtn {
    border: 0;
    position: relative;
    right: 33px;
    top: 10px;
    padding: 0;

    height: 24px;
    width: 24px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.cityModalsearchLineSvg {
    width: 24px;
    height: 24px;
    fill: rgba(158, 158, 158, 0.705);
}

.cityModalList{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
}

.cityModalCity {
    font-size: 14px;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    padding-left: 24px;
    margin-bottom: 24px;
    background: url(../../assets/MapMarkCityModal.svg) no-repeat left center / contain;
}

.cityModalCity:hover {
    color: #0069ab;
    cursor: pointer;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}